<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blucketname" value="secai" />
    <add key="blucketdir" value="order1/" />
    <add key="endpoint" value="oss-cn-beijing.aliyuncs.com" />
    <add key="accessKeyId" value="LTAIk5hzwrjTzIPL" />
    <add key="accessKeySecret" value="bPqdelRBxRtpR97l68FNWqJkrGxI2Q" />
    <add key="downtodir" value="d:\\autodown\\" />
    <add key="savedays" value="3" />
    
<add key="downok_bucketName" value="secaiok1" />
  </appSettings>
</configuration>