<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blucketname" value="mywangqingguo1" />
    <add key="blucketdir" value="sbb/" />
    <add key="endpoint" value="oss-cn-beijing.aliyuncs.com" />
    <add key="accessKeyId" value="LTAIpL2pPGEy5wFh" />
    <add key="accessKeySecret" value="6FDB5fftlXxEyZ54obDjpXvtDwHrvC" />
    <add key="downtodir" value="d:\\autodown\\" />
    
<add key="downok_bucketName" value="secaibucket-ok" />
  </appSettings>
</configuration>